.signup-page {
  background: url(https://images.unsplash.com/photo-1542359649-31e03cd4d909?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-container {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-inputs {
  background-color: var(--white);
  width: 25rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--shadow-box);
  align-items: center;
  padding: 2rem;
}

.forgot-password a {
  margin-left: auto;
  text-decoration: none;
}

.login-container button {
  width: 100%;
}

.login-container a {
  text-decoration: none;
  justify-content: center;
}

.input {
  margin: 0.75rem;
  width: 80%;
}

input[type="password"] {
  border: 1px solid;
}

input[type="email"] {
  border: 1px solid;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
